/* GERAL */
html, body, header, main, footer, article, div, span, p, a, figure, img, small{
    margin: 0;
    /* zera a margem padrão dos navegadores */
    padding: 0;
    /* zera o espaçamento estre as letras e os itens padrão dos navegadores */
    box-sizing: border-box;
    /* limita um item a um tamanho definido que mesmo que adicionado padding ele vai manter o tamanho definido e não somar ao tamanho definido */
    text-decoration: none;
    /* para zerar decoraçoes padrão como azul em links e sublinhados e outras decorações padrão dos navegadores */
    font-family: sans-serif;
    /* selecionar tipo de fonte desejado no projeto */
    outline: none;
    /* zerar bordinhas dos inputs quando clicado sobre ele */
}
body{
    padding: 5vh 20vw;
    
    
}

table {
    padding: 0.5vw ;
    border: 2px solid blue;
}

h1{
    
}
